*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav1{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;

}
#nav1>div{
    width: 100%;
    display: flex;
    margin: auto;
    height: 70px;
    align-content: center;
    background-color: #FEF200;
    justify-content: space-evenly;
    font-size: 18px;
    align-items: center;
    padding: 7px;
}
#nav1 a {
    text-decoration: none;
    color: black;
}
#nav1 img{
    width: 150px;
    height: 140px;
}

       
        #cor{
            width: 70%;
            margin: auto;
        }


        * { box-sizing: border-box; }

.main-carousel{
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
    padding: 0px 70px;
}

.carousel-cell {
    background-color: rgb(249, 244, 244);
    width: 17%;
    margin: 20px;
    height: 150px;
    /* margin-top: 40px; */
    /* background: #8C8; */
    border-radius: 8px;
    /* counter-increment: carousel-cell; */
}
.carousel-cell>img{
    /* background-color: grey; */
    width: 50%;
    height: 60%;

    margin-left: 35px;
    margin-top: 10px;
}


/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  /* content: counter(carousel-cell); */
  line-height: 200px;
  font-size: 80px;
}
#parent {
    display: flex;
    margin-top: 20px;
    
    justify-content: center;
}
#banner {

    
    width: 60%;
    
}
#banner> img {
    width: 100%;
}

#parent1 {
    
    height: 100px;
    display: flex;
    justify-content: center;
   margin-top: 20px;
}
#heading {
    
    background-color: #FEF200;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
#title {

    margin-left: 30px;
    
}
#shopby {
   padding-left: 450px;
}

#BFY {
     height: 100px;
    display: flex;
    justify-content: center;
   margin-top: 20px
}
#BFY > div {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}
#abc {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 230px;
}
#def{
    display: flex;
    width: 80%;
    
    height:100% ;
    justify-content: space-between;
}
.ghi {
width: 20%;

height: 100%;
box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.image {
    width: 100%;
    height: 150px;
}
    
img {
    width: 100%;
    height: 100%;
}
.ptag {
    font-size:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}


#ptag {
    width: 100%;
    height: 40px;
    
}
#button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;

}
 .btn {
   margin-left: 20px;
    border: 0px;
    background-color: white;
    color: blue;

} 
#container {
    display: grid;
            grid-template-columns:repeat(4,1fr) ;
            
            place-items: center;
            padding-left: 60px;
            padding-right: 60px;
            row-gap: 50px;
}
.father {
   width: 70%;
    height: 390px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.imagediv {
    width: 100%;
    height: 200px;
}
.imagediv > img {
    width: 100%;
    height: 100%;
}

