*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav1{
    position: sticky;
    z-index: 1;
    top: 0;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

}
#nav1>div{
    display: flex;
    margin: auto;
    height: 70px;
    align-content: center;
    background-color: #FEF200;
    justify-content: space-evenly;
    font-size: 18px;
    align-items: center;
    padding: 7px;
}
#nav1 a {
    text-decoration: none;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
#nav1 img{
    width: 150px;
    height: 140px;
}

#search{
    border-radius: none;
    width: 500px;
    height: 40px;
    padding-left: 20px;

}
#searchIcon{
    margin-left: -65px;
}
       
        #cor{
            width: 70%;
            margin: auto;
        }


        * { box-sizing: border-box; }

.main-carousel{
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
    padding: 0px 70px;
}

.carousel-cell {
    background-color: rgb(249, 244, 244);
    width: 17%;
    margin: 20px;
    height: 150px;
    /* margin-top: 40px; */
    /* background: #8C8; */
    border-radius: 8px;
    /* counter-increment: carousel-cell; */
}
.carousel-cell>img{
    /* background-color: grey; */
    width: 50%;
    height: 60%;

    margin-left: 35px;
    margin-top: 10px;
}


/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  /* content: counter(carousel-cell); */
  line-height: 200px;
  font-size: 80px;
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 10px 10px;
    background-color: inherit;
    /* font: inherit; Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(255, 255, 0);
  }
  
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    width: 40%;
    border-radius: 10px;
    left: 80;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    margin-bottom: 20px;
  }
  
  /* Mega Menu header, if needed */
  .dropdown-content .header {
    background: rgb(255, 247, 0);
    padding: 2px;
    color: white;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding-top: 15px;
    padding-left: 20px;
    background-color: rgb(255, 255, 255);
    height: 200px;
  }
  
  /* Style links inside the columns */
  .column a {
    font-size: 17px;
    float: none;
    color: black;
    padding: 1px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a background color on hover */
  .column a:hover {
    background-color: #ddd;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


#parent {
    display: flex;
    margin-top: 20px;
    
    justify-content: center;
}
#banner {

    
    width: 60%;
    
}
#banner> img {
    width: 100%;
}

#parent1 {
    
    height: 100px;
    display: flex;
    justify-content: center;
   margin-top: 20px;
}
#heading {
    
    background-color: #FEF200;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
#title {

    margin-left: 30px;
    
}
#shopby {
   padding-left: 450px;
   padding-top:20px ;
}

#BFY {
     height: 100px;
    display: flex;
    justify-content: center;
   margin-top: 20px
}
#BFY > div {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}
#abc {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 230px;
}
#def{
    display: flex;
    width: 80%;
    
    height:100% ;
    justify-content: space-between;
}
.ghi {
width: 20%;

height: 100%;
box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.image {
    width: 100%;
    height: 150px;
}
    
img {
    width: 100%;
    height: 100%;
}
.ptag {
    font-size:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
   
}



#button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

}
 .btn {
   margin-left: 20px;
    border: 0px;
    background-color: white;
    color: blue;

} 
#container {
    width: auto;
    display: grid;
            grid-template-columns:repeat(4,1fr) ;
            
            place-items: center;
            padding-left: 60px;
            padding-right: 60px;
            row-gap: 50px;
            margin-top: 50px;
            margin-bottom: 60px;
            /* text-align: center; */
}
.father {
   width: 70%;
    height: 390px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
   
}
.imagediv {
    width: 100%;
    height: 200px;
}
.imagediv > img {
    width: 100%;
    height: 100%;
}
.title {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.reviews {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;   
}
.price {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.desc {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.category {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.avail {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.adc {
    display: block;
    margin: auto;
    border-radius: 4px;
    border: 1px black solid;
    height: 30px;
    width: 100px;
    background-color: #FEF200;
    margin-bottom: 8px;
}
#alc {
    padding-left: 300px;
    padding-top: 20px;
}

#diffcat {
    width: 900px;
    margin: auto;
    display: grid;
            grid-template-columns:repeat(5,1fr) ;
            row-gap: 20px;
            place-items: center;
            padding-left: 60px;
            padding-right: 60px;
            row-gap: 50px;
            margin-top: 50px;
            margin-bottom: 30px;
            /* text-align: center; */
}
.mother {
    width: 70%;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px; 
}
.imgdiv {
    width: 100%;
    height: 100%;
}
.imgdiv > img {
    width: 100%;
    height: 100%;
}
.name {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
}
/* #filter { */
    
    /* border: 5px red solid;
    padding-left: 50px;
} */
#detail {
    margin-left: 800px;
    
}
#footer{
    display: flex;
    margin: auto;
    background-color: #000;
}
#footer>#dx{
    width: 20%;
    color: white;
    padding-top: 20px;
    padding-left: 150px;
    text-align: left;
    line-height: 40px;
    
    
}
#footer h3{
    font-size: 17px;
    font-family: 'Explora', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Varela Round', sans-serif;
}
#footer p{
    font-size: 13px;
    font-family: 'Explora', cursive;
    font-family: 'Handlee', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Varela Round', sans-serif;
    
}
#img{
    display: flex;
    margin: auto;
    width: 150px;
    height: 90px;
    
}
#logo{
    background-color: black;
    padding-top: 60px;
}

#ax{
    display: flex;
    width: 20%;
    margin: auto;
    
}
#ax img{
width: 90%;
height: 100%;
}

#logo>a>img{
    display: flex;
    margin: auto;
    width: 121px;
    height: 40px;
    
}

#social_media{
    display: flex;
    margin: auto;
   width: 10%;
   justify-content: space-between;
   margin-top: 10px;
   font-size: 20px;
   color: #FEF200;
   margin-top: 60px;
}
#inf{
    display: flex;
    margin: auto;
    width: 25%;
    text-align: center;
    padding-left: 80px;
    color: #FEF200;
   margin-top: 30px;

   
}
#Akshay{
    display: flex;
    margin: auto;
    width: 25%;
    text-align: center;
    /* padding-left: 10px; */
    color: #FEF200;
   margin-top: 30px;
   padding-bottom: 30px;

   }

   #select {
    display: flex;
    
    justify-content: flex-end;
   }
   #filter{
    margin-right: 30px;
   } 

   