/* body{
    background-color: lightgray;
} */

#sign img{
    width: 370px;
    height: 100px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}
h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

/* p{
    margin-top: 40px;
} */
#sign{
    background-color: #ffffff;
}
#sign{
    text-align: left;
    text-decoration: none solid rgb(0,0,0);
    background-color: #ffffff;
    z-index: ;
    box-sizing: border-box;
    background: 0%,0%;
    height: 714px;
    width: 400px;
    padding: 0px 20px 20px 20px;
    margin: 0 560px 0 560px;
    min-height: 380px;
    max-width: 400px;
    border: #ffffff;
    border-radius: 5px;
    box-shadow:  0px 0px 18px -4px rgba(0,0,0,0.3);
    line-height: 0%;
}
/* #sign input{
    height: 40px;
    width: 356px;
} */
#email,#pass{
    height: 40px;
    width: 356px;
}

#keep{
    display: inline-block;
    padding-left: 15px;
    text-indent: -15px;
    text-align: left;
    /* margin-bottom: 20px; */
}
#box{
    margin-top: 25px;
    
    width: 15px;
    height: 15px;
    /* padding: 0;
    margin:0; */
    vertical-align: bottom;
    position: relative;
    top: 10px;
    *overflow: hidden;
    text-align: left;
}

#foot1{
    margin-top: 30px;
    text-align: center;

}
#foot1 a{
    text-decoration: none;
}
#foot2{
    text-align: center;
    margin-top: 40px;
}

button{
    margin-top: 20px;
    height: 40px;
    width: 356px;
    border-radius: 3px;
    font-size: 20px;
    /* border: none; */
}
#b1{
    border: none;
}
#b2{
    background-color: #ffffff;
}
button:hover{
    cursor: pointer;
    background-color: lightgreen;
}
/* #sign a{
    margin-top: 100px;
    color: red;
} */

#pass{
    margin-bottom: 20px;
}
/* #for{
    margin-top: 10px;
    border: 3px solid red;
    padding-top: 20px;
    margin-bottom: -20px;
} */