*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
    margin-right: 40px;
	justify-content: flex-end;
	align-items: center;
}

/* .login-content{
	display: flex;
	justify-content: flex-start;
    padding-left: 130px;
	align-items: center;
	text-align: center;
} */

.img img{
	width: 500px;
}

form{
	width: 360px;
}
form h2{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}
/* .login-content img{
    height: 100px;
} */

/* .login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
} */
/*  */
/* .login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #000000;
} */

/* .login-content .input-div.one{
	margin-top: 0;
} */

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	/* background-image: url("https://dvyvvujm9h0uq.cloudfront.net/com/articles/1528194430-740704-1515075926-imagepng.jpg");
	background-repeat: no-repeat; */
	background: rgb(169,200,215);
background: linear-gradient(90deg, rgba(169,200,215,0.7932422969187676) 0%, rgba(178,147,181,1) 45%, rgba(214,202,214,1) 91%, rgba(231,183,218,0.9220938375350141) 100%, rgba(208,173,84,1) 100%, rgba(52,232,246,1) 100%, rgba(0,212,255,1) 100%);
	/* width: 8000px; */
	/* margin-top: 50%;
	margin-left: 50%;
	height: 100%; */
	/* border: 2px solid red; */
}

.i i{
    color: #000000;
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div  h5{
	/* position: absolute; */
	/* left: 10px; */
	/* top: 50%; */
    /* display: none; */
	transform: translateY(-50%);
	color: rgb(0, 0, 0);
	font-size: 15px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 10px;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div>div>input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.0rem;
	color: rgb(0, 0, 0);
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}
a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: rgb(0, 114, 185);
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #38d39f;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}


/* @media screen and (max-width: 1050px){ */
	/* .container{
		grid-gap: 5rem;
	}
} */

/* @media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	/* .login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	} */

	/* .img img{
		width: 400px;
	}
} */ 

/* @media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{ */
		
		/* border: 2px red solid;
	}
} */

.login-content {
	display: flex;
	justify-content: center;
	height: 400px;
	flex-direction: column;

	

}
#form {
	display: flex;
	flex-direction: column;
	
	width: 350px;
	height: 200px;
	align-self: center;
	
}


input {
	padding: 10px 30px;
	
	background-color:rgb(167, 122, 167) ;
	margin: 20px;
	width:90%;
	border-radius: 4px;
	
	
}
#btn {
	display: block;
	margin: auto;
	border: 0px;
	background-color: rgb(90, 90, 222);
	padding: 10px 20px;
	border-radius: 2px;
	color: white;
	font-weight: 800;
}
#wl {
	margin-left: 220px;
	font-family:Arial, Helvetica, sans-serif;
	color: rgb(33, 26, 41);
}